{% extends 'base.html.twig' %}

{% block body %}
<ul>
    {% for author in authors %}
        <li>
            <a href="{{ path('app_author_posts', {id: author.id}) }}">{{ author.name }}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
