{% extends 'base.html.twig' %}

{% block body %}
    {% dump posts %} {# tag dump -> envoi vers le profiler #}
    <p>{{ dump(posts) }}</p> {# fonction twig -> insère dans l'affichage #}
    <ul>
        {% for post in posts %}
        <li>{{ loop.index }} - {{ post.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}
