{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_post_create') }}">Ajouter</a>
    <ul>
        {% for post in posts %}
        <li>
            {{ loop.index }} - {{ post.title }}
            <a href="{{ path('app_post_show', {id: post.id}) }}">Voir</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
