{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_post_index') }}">Retour à la liste</a>
    <article>
        <h1>{{ post.title }}</h1>
        <div>
            {{ post.body }}
        </div>
    </article>
{% endblock %}
